<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="public/index.php" colors="true">
    <testsuites>
        <testsuite name="">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
    <php>
        <env name="KD_ENVIRONMENT" value="test"/>
    </php>

</phpunit>
